/* === FONTS === */

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/palanquin-v17-latin-regular.woff2') format('woff2'),
       url('../fonts/palanquin-v17-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/palanquin-v17-latin-500.woff2') format('woff2'),
       url('../fonts/palanquin-v17-latin-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/palanquin-v17-latin-600.woff2') format('woff2'),
       url('../fonts/palanquin-v17-latin-600.ttf') format('truetype'); 
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/palanquin-v17-latin-700.woff2') format('woff2'),
       url('../fonts/palanquin-v17-latin-700.ttf') format('truetype');
}


@font-face {
  font-display: swap;
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/palanquin-dark-v17-latin-regular.woff2') format('woff2'),
       url('../fonts/palanquin-dark-v17-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/palanquin-dark-v17-latin-700.woff2') format('woff2'),
       url('../fonts/palanquin-dark-v17-latin-700.ttf') format('truetype');
}

/* === GLOBAL === */

:root {
  --color-brand: #E76C1F;
  --color-brand-sand: #FACAAC;
  --color-brand-cream: #FDEADC;
  --dark-gray: #363534;
  --light-gray: #726D6D;
  --white: #FFFFFF;
  --primary-font: 'Palanquin';
  --secondary-font: 'Palanquin Dark';
  --fallback-font: sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--primary-font, --secondary-font, --fallback-font);
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--dark-gray);
}

h1 {
  margin: 0;
  font-size: 48px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

h2 {
  padding-left: 168px;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
}

h3 {
  margin: -36px 0 0;
  font-size: 24px;
  font-weight: 600;
}

.dNone {
  display: none !important;
}

/* ===  BUTTONS === */

.close-btn {
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 400;
  background-color: transparent;
  color: var(--color-brand-cream);
  cursor: pointer;
}


.add-item-to-basket-btn {
  width: 116px;
  height: 24px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: var(--white);
  color: var(--dark-gray);
  cursor: pointer;
}

.add-item-to-basket-section {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.added-item-to-basket-btn {
  width: 88px;
  height: 24px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--color-brand);
  background-color: var(--white);
  cursor: pointer;
}

.item-added-increase {
  width: 16px;
  height: 24px;
  padding: 0 10px 4px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--color-brand);
  background-color: var(--white);
  cursor: pointer;
}

.cart-item-increase-decrease {
  width: 12px;
  height: 28px;
  padding: 0;
  border: none;
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: transparent;
  color: var(--dark-gray);
  cursor: pointer;
}

.cart-item-remove {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.basket .cart-item-remove  img {
  width: 16px;
  height: 16px;
}

.buy-now-btn {
  width: 312px;
  height: 40px;
  padding: 28px 28px;
  border: none;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: var(--primary-font);
  font-weight: 700;
  background-color: var(--color-brand);
  color: var(--white);
  cursor: pointer;
}

.buy-now-btn span:first-of-type {
  padding-right: 10px;
}



/* === BACKGROUND AND FULL BLEED EFFECT === */

.orange-background {
  background-color: var(--color-brand);
}

.full-bleed-orange-background {
  box-shadow: 0 0 0 100vmax var(--color-brand);
  clip-path: inset(0 -100vmax);
}



/* ===  HEADER === */
body > header {
  display: flex;
  flex-direction: column;
  padding: 0 0 24px;
}

/* ===  NAV === */
nav {
  height: 96px;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > img {
  width: auto;
  height: 28px;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hl {
  width: 36px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--white);
}

/* ===  RESTAURANT-BACKGORUND-IMAGE === */
.restaurant-background-image {
  position: relative;
  width: 100%;
  height: 280px;
  padding: 0;
  background: url("../img/hero.jpg") no-repeat bottom 24% center;
  background-size: cover;
}

/* ===  RESTAURANT-LOGO, NAME, REVIEW AND SLOGAN === */
.restaurant-logo {
  position: absolute;
  top: 222px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: solid 4px var(--color-brand-cream);
  border-radius: 50%;
  background: url(../img/favicons/logo_burger.png) no-repeat center center;
  background-size: contain;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-name {
  padding-top: 16px;
  display: flex;
  align-items: center;
}

.restaurant-name > h1 > span:first-child {
  color: var(--color-brand);

}
.restaurant-name > h1> span:last-child {
  padding-right: 24px;
}

.restaurant-rating {
  width: 100px;
  height: 32px;
  padding: 0px 6px;
  border-radius: 4px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-brand-sand);
}

.restaurant-rating img {
  width: 24px;
}

.restaurant-rating span:first-of-type {
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 400;
}

.restaurant-rating span:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  color: var(--light-gray);
}

.restaurant-info p {
  margin: 0;
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}



/* ===  MAIN === */
main {
  padding: 0 0 0 120px;
}

.page-layout {
  display: flex;
  justify-content: space-between;
}

/* ===  MENU === */
.menu-content {
  display: flex;
  flex-direction: column;
}

.menu-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* ===  MENU-HEADER === */
.menu-section header {
  height: 60px;
  margin: 0 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-section .menu-header-icon {
  position: absolute;
  top: -24px;
  left: 56px;
  width: 88px;
  height: 88px;
  padding-right: 24px;
  margin-bottom: 4px;
}

.menu-section h2 > span {
  font-size: 40px;
  font-weight: 400;
}

/* ===  DISHES === */
.dish {
  width: calc(196px + 336px + 116px + 32px);
  background-color: var(--color-brand-cream);
  padding: 12px;
  border-radius: 12px;
  margin: 0 0 20px;
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

section .dish:last-of-type {
  margin: 0 0 72px;
}

.dish img {
  width: 196px;
  height: 128px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center 65%;
}

.dish-desc {
  width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dish-desc p {
  margin: -56px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.buy-info {
  width: 116px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.buy-info span {
  margin-top: -10px;
  font-size: 24px;
  font-weight: 600;
}


/* ===  FOOTER === */

footer {
  padding: 0 120px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

footer > div.orange-background {
  height: 96px;
  gap: 72px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.copyright img {
  padding: 0 0 5px;
}

div.orange-background > * {
  padding: 0 0 20px;
}

/* ===  BASKET === */
aside {
  --aside-width: clamp(260px, calc(100% - (196px + 336px + 116px + 32px)), 440px);
  width: var(--aside-width);
  height: 864px;
  padding: 0 24px 0;
  border-radius: 24px 0 0 24px;
  margin: 0 0 0 80px;
  position: sticky;
  top: 0;
  background-color: var(--dark-gray);
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-brand-cream);
}

.basket header h2 {
  padding: 48px 0 48px;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-brand-cream);
}

/* ===  BASKET-EMPTY === */
.basket p {
  margin: 0;
  padding: 0 0 80px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.basket span {
  line-height: 30px;
}

.basket img{
 width: 120px;
 height: 120px;
}

/* ===  BASKET-FILLED === */

.selected-items {
  overflow-y: scroll;
  max-height: 360px;
  padding-right: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 22px;
  font-weight: 700;
  color: var(--dark-gray);
}

.selected-items  article {
  padding: 22px 18px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  background-color: var(--color-brand-cream);
}

.item-amount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.amount-control {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 24px;
}

.item-price {
  display: flex;
  align-items: flex-end;
}

.basket table {
  padding: 24px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basket table tr {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.basket table tbody {
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.basket table tbody tr:last-of-type {
  padding-bottom: 10px;
} 

.basket tfoot {
  font-size: 22px;
  font-weight: 700;
  color: var(--white);
}

.selected-items::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
  background: var(--dark-gray);
}

.selected-items::-webkit-scrollbar-track {
  background: transparent;
  margin: 140px 0;
}

.selected-items::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-brand-sand);
}

/* ===  DIALOG === */

dialog {
  padding: 16px 44px 24px;
  border: none;
  border-radius: 20px;
  margin-top: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--white);
}

dialog header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

dialog img {
  width: 80px;
  height: 56px;
  margin: 24px 0;
}

dialog span {
  line-height: 44px;
  color: var(--color-brand-cream);
}

dialog span:first-of-type {
  font-size: 42px;
  font-weight: 700;
}

dialog span:last-of-type {
  font-size: 28px;
  font-weight: 700;
}